@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,700&display=swap&subset=cyrillic');

body, html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; 
}

* {
  box-sizing: border-box; 
}

.columns {}

.logo {
  margin-bottom: 15px; 
}


@media screen and (min-width: 900px) {
  .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
  } 
}



.columns-is-dark {
  background-color: #2B1B35;
}

.auth {
  position: relative;
  display: flex;
  height: 100vh;
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.6);
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  justify-content: center; 
}


@media screen and (min-width: 900px) {
  .auth {
    width: 600px;
  } 
}

.auth-wrap {
  max-width: 440px;
  cursor: default;
  user-select: none;  
  margin-top: -100px;     
}

.auth-title {
  margin-bottom: 25px;
  padding: 0 5px;
  text-align: left;
  line-height: 25px; 
}

.auth-title-subtitle {
  font-family: 'Ubuntu', sans-serif;
  color: white;
}


@media screen and (min-width: 560px) {
  .auth-title-subtitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 1; 
  } 
}



.auth-form {
  margin-bottom: 22px;
  padding-top: 5px; }


.image {
  display: none;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  flex-grow: 1; 
}


@media screen and (min-width: 900px) {
  .image {
    display: block;
 } 
}



.image-is-auth {
  background-image: url('/images/bg.jpg');
}


.button-auth {
  min-width: 150px;
  height: 42px;
  margin: 0;
  padding: 0 12px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #3F3540;
  border-radius: 4px;
  background: #3F3540;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 600; 
  text-transform: uppercase;
  letter-spacing: 1px;
}

.href-auth {
  min-width: 150px;
  height: 42px;
  margin: 0;
  padding: 15px 20px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #3F3540;
  border-radius: 4px;
  background: #3F3540;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}


@media screen and (min-width: 560px) {
  .button-auth {
    font-size: 14px; 
  }
}


.input-auth {
  min-width: 250px;
  height: 42px;
  margin: 0;
  padding: 0 12px;
  color: #42251B;
  border: 1px solid #edeef6;
  border-radius: 4px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 100; 
}


.remember {
  margin: 10px 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 2;
  color: white;
}


.account {
  background: #2B1B35;
  margin: 0 0 25px 0;
  padding: 15px;
  color: white;
}


.form-add {
  width: 1000px;
}

.errors {
  width: 300px;
  background: #3F3540;
  color: white;
  margin: 15px 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 100;
}
.help-block {
  padding: 10px;
}







.wrap {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.left-block {
  width: 200px;
  background-color: #2B1B35;
  min-height: 100vh;
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.6);
  font-family: 'Ubuntu';
  font-weight: 400;
}
.right-block {
  display: flex;
  flex-grow: 1;
  background-color: rgba(244, 244, 244, 0.6);
  padding: 20px;
  font-family: 'Ubuntu';
  flex-flow: column nowrap;
}


.content {
  min-width: 700px;
  max-width: 1000px;
  margin: 80px 0;
}

.working-field {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px 0 rgba(214, 214, 214, 0.6);
}

.nav-statuses a {
  font-size: 14px;
  color: #7e7e7e;
}

.count-food {
  font-size: 12px;
  font-weight: 600;
  color: #5c326d;
}

.logo {
  margin: 25px 0;
  color: white;
  text-align: center;
}

.navbar a {
  color: white;
}

.logout {
  margin: 25px 0 0 0 ;
}

.title {
  margin-bottom: 15px;
}

.timer {
  font-size: 14px;
  color: #3F3540;
}

.list-food {
  background-color: #2B1B35;
  padding: 9px 12px;
  border-radius: 5px;
  color: #f5f5f5;
  font-size: 12px;
  cursor: pointer;
}
.list-food:hover {
  background-color: #5c326d;
}

.view-driver{
  margin: 10px 0;
  background-color: white;
  cursor: pointer;
}
.driver {
  background: #f4f4f4;
  padding: 5px;
}
.driver-name {
  font-size: 14px;
  font-weight: 600;
}
.driver-phone {
  font-size: 18px;
  font-weight: 300;
}

.address {
  margin: 0 0 15px 0;
}
.address-info {
  font-size: 10px;
  color: #7e7e7e;
}

.count-orders {
  padding: 5px 10px;
  background-color: #2B1B35;
  color: white;
  font-weight: 600;
  font-size: 12px;
}

.map-info {
  margin: 15px 0;
}
.map {
  color: #0000EE;;
  display:inline-block;
  border-bottom:1px dashed #0000EE;
  padding-bottom:2px;
  cursor: pointer;
}
.map:hover {
  text-decoration: none;
}









.table-title {
}
.table-title td {
  padding: 12px;
  font-size: 12px;
  font-weight: 600;
}

.table-list td {
  padding: 8px;
  font-size: 14px;
  text-align: center;
}

.list td {
  padding: 12px;
  font-size: 14px;
  color: #3e3e3e;
  border-bottom: 1px solid #f5f5f5;
}
.number-order {
  width: 150px;
  text-align: center;
}
.number-phone {
  width: 150px;
}
.list-foods {
  width: 250px;
}


.list > .address {
  font-size: 12px;
}

.count {
  padding: 4px;
  background: #2B1B35;
  color: white;
  border-radius: 3px;
}

.load {
  text-align: center;
}

.mt-50 {
  margin-top: 50px;
}
.mb-20 {
  margin-bottom: 20px;
}

.count-calls {
  background-color: white;
  padding: 4px 9px;
  font-size: 12px;
  font-weight: 600;
  color: #2B1B35;
}


/* modal window */

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}


.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-header {
  font-size: 22px;
  padding: 15px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.food-position {
  margin: 10px 0;
  font-size: 12px;
}

.food-name {
  font-size: 18px;
  font-weight: 600;
}

.additive-position {
  font-size: 14px;
  font-style: italic;
}